//////////////////////////////
// button Component Extendable Classes
//////////////////////////////

@mixin button($extend: true) {
  @include button-base($extend);

  &:hover, &:focus, &:active {
    @include button-active($extend);
  }
}

@mixin button-base($extend: true) {
  @include static('button-base', $extend) {
    position: relative;
    font-family: sans-serif;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 0.875rem;
    display: inline-block;
    line-height: inherit;
    padding: .25rem .55rem;
    cursor: pointer;
    color: #444;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    transition-property: color, border-color, background-color;
  }
}

@mixin button-active($extend: true) {
  @include static('button-active', $extend) {
    color: #000;
    border-color: #a4a4a4;
  }
}

@mixin button-with-icon($icon, $extend: true) {
  @include button($extend);

  @include static('button--ICON', $extend) {
    padding-left: .5rem;

    &::before {
      margin-right: .35rem;
    }
  }

  &::before {
    @include icon($icon, $extend);
  }
}

@mixin button-with-icon-only($icon, $extend: true) {
  @include button($extend);

  @include static('button--ICON-ONLY', $extend) {
    @include border-radius(1.125rem);
    text-indent: -9999rem;
    width: 2rem;
    position: relative;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      text-indent: 0;
      margin: {
        right: 0;
        left: -.625rem;
        top: -.45rem;
      }
    }

    // Icon placement
    &[data-count]::before {
      top: 33%;
      font-size: .8rem;
      margin: {
        left: -.6rem;
      }
    }

    &[data-count]::after {
      position: absolute;
      left: 50%;
      top: 60%;
      text-indent: 0;
      content: attr(data-count);
      width: 1.65rem;
      text-align: center;
      font-size: .7rem;
      margin: {
        right: 0;
        left: -.8rem;
        top: -.45rem;
      }
    }
  }

  &::before {
    @include icon($icon, $extend);
  }
}
