%input {
  font-family: inherit;
  outline: none;
  border: 1px solid #bdbdbd;
  font-size: inherit;
  line-height: inherit;
  padding: .2rem .5rem;
  margin: 0;
  display: block;

  & + label {
    vertical-align: middle;
  }
}